* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1e1e1e;
}

.click {
  color: #93e9ff;
  font-size: 25px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 200px;
  width: 200px;
}

button > img {
  display: flex;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  color: #93e9ff;
}

.result > img {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  margin-left: 42.75vw;
}

.bucket {
  display: flex;
  justify-content: center;
  align-items: center;
}
